@charset "UTF-8";

@font-face {
    font-family: azonix;
    src: url(../components/fonts/azonix.otf) format(otf);
}


@font-face {
    font-family: explore;
    src: url(../components/fonts/explore-everyday.ttf);
}

@font-face {
    font-family: "Geosans Light Oblique";
    src: url(../components/fonts/geosans-light-oblique.ttf);
}

@font-face {
    font-family: "Geosans Light";
    src: url(../components/fonts/geosans-light.ttf);
}

@font-face {
    font-family: "Qualy Bold";
    src: url(../components/fonts/qualy-bold.ttf);
}

@font-face {
    font-family: "Race Track Regular";
    src: url(../components/fonts/racetrack-regular.otf);
}

@font-face {
    font-family: "Caviar Dream";
    src: url(../components/fonts/CaviarDreams.ttf);
}

@font-face {
    font-family: "Dream Orphans It";
    src: url(../components/fonts/dream-orphans-it.otf);
}

@font-face {
    font-family: "Dream Orphans";
    src: url(../components/fonts/Dream\ Orphans\ Bd\ It.otf);
}

@font-face {
    font-family: "Built Titling Bd it";
    src: url(../components/fonts/built\ titling\ el.otf);
}

@font-face {
    font-family: "Agenor Neue Regular";
    src: url(../components/fonts/AgenorNeueRegular.otf);
}


/***************************************************************/
                /*Lemon Milk*/
/***************************************************************/



@font-face {
    font-family: "Lemon Milk Bold";
    src: url(../components/fonts/LEMONMILK-Bold.otf);
}

@font-face {
    font-family: "Lemon Milk Bold Italic";
    src: url(../components/fonts/LEMONMILK-BoldItalic.otf);
}

@font-face {
    font-family: "Lemon Milk Light";
    src: url(../components/fonts/LEMONMILK-Light.otf);
}

@font-face {
    font-family: "Lemon Milk Light Italic";
    src: url(../components/fonts/LEMONMILK-LightItalic.otf);
}

@font-face {
    font-family: "Lemon Milk Medium";
    src: url(../components/fonts/LEMONMILK-Medium.otf);
}

@font-face {
    font-family: "Lemon Milk Medium Italic";
    src: url(../components/fonts/LEMONMILK-MediumItalic.otf);
}

@font-face {
    font-family: "Lemon Milk Regular";
    src: url(../components/fonts/LEMONMILK-Regular.otf);
}

@font-face {
    font-family: "Lemon Milk Regular Italic";
    src: url(../components/fonts/LEMONMILK-RegularItalic.otf);
}