*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: var(--cor1);
}

:root{
    --color-header-nav: #fdfdfd60;

    --cor1: #080031;
    --cor2: #00D7EB;
    --cor3: #28F09E;
    --cor4: #FAF3DD;
    --cor5: #250000;
    --cor6: #FFF;

    --font-titulos: "Agenor Neue Regular";

}


p{
    font-family: "Caviar Dream";
}

h1, h2{
    font-family: var(--font-titulos);
}


/***************************************************************/
                /*COMEÇO DO HEADER*/
/***************************************************************/

header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background: var(--cor6);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px;
    color: var(--cor1);
}
/* 
header div#logo{
    display: flex;
    flex-direction: column;
    align-items: center;

}

header div#logo div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header div#logo div h1{
    font-size: 1.7em;
}

header div#logo div p{
    font-size: .6em;
    font-weight: bold;
} */

header div#logo{
    display: flex;
    align-items: center;
    gap: 5px;
}

header div#logo div{
    display: flex;
    flex-direction: column;
}

/************* NAVEGAÇÃO *************/

header ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    padding: 0px;

    font-family: "Agenor Neue Regular";

    box-sizing: border-box;
}




header ul li{
    display: flex;
}

header ul#nav li{
    border-bottom: 2px solid var(--cor1);
    transition: border-bottom .2s;
    transition-timing-function: linear;
}

header ul#nav li:hover{
    border-bottom: 2px solid var(--cor3);
}

header ul li a{
    color: var(--cor1);
    text-decoration: none;
    padding: 10px 20px;
    margin: 5px;
    transition: .6s;
    border-radius: 10px;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.384);
}

header ul li a:hover{
    background-color: rgba(255, 255, 255, 0.151);
    transform: translate(-2px, -2px);
    color: var(--cor1);
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.705);
}



header ul#fale-comigo li a{
    padding: 15px 30px;
    font-size: 1.4em;
    background-color: var(--cor1);
    border-radius: 10px;
    font-size: 1.7em;
    color: var(--cor6);
    box-shadow: 2px 2px 5px 0px var(--cor5);
}

header ul#fale-comigo li a:hover{
    box-shadow: 2px 2px 10px 2px var(--cor5);
    color: var(--cor3);
}








/***************************************************************/
                /*COMEÇO DO MAIN*/
/***************************************************************/

main{
    background-color: var(--cor1);
    color: var(--cor6);
}

/************************** SECTION STR ***************************/

main section#str{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    color: var(--cor1);

    width: 100%;
    height: 83.2vh;
    box-shadow: 0px 0px 10px 1px black;


    background-image: url("../components/imagens/background-5-notebook.png");
    background-position:center 70%;
    background-repeat: no-repeat;
    background-size: cover;
}

main section#str h1{
    background-color: rgba(255, 255, 255, 0.712);
    padding: 20px;

    border-radius: 4px;

    box-shadow: 0px 0px 5px black;

    font-size: 1.7em;
}

main section#str form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

    padding: 20px;
    min-width: 30%;

    background-color: var(--cor1);
    color: var(--cor6);
    border: 1px solid white;
    border-radius: 10px;

    box-shadow: 0px 0px 10px 2px black;
}

main section#str form div#newslat{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    margin-bottom: 50px;

    font-size: 1.4em;
}

main section#str form div#nome-sobrenome{
    display: flex;
    gap: 10px;
}

main section#str form div#nome-sobrenome input{
    padding: 10px 0;
    padding-left: 5px;
    box-shadow: 0px 0px 4px 0px white;
    margin-bottom: 15px;

    background-color: var(--cor3);
    color: var(--cor1);

    border: 1px solid white;
    border-radius: 2px;

    font-size: 1em;

}

main section#str form div#nome-sobrenome input::placeholder{
    color: var(--cor1);
}

main section#str form div#email-newslat label,
main section#str form div#tel-newslat label{
    display: flex;

    font-family: Lemon Milk Regular;
    font-size: 1em;
}

main section#str form div#email-newslat input,
main section#str form div#tel-newslat input{
    width: 100%;
    padding: 10px 0;
    padding-left: 5px;
    box-shadow: 0px 0px 4px 0px white;
    margin-bottom: 15px;

    background-color: var(--cor3);
    color: var(--cor1);

    border: 1px solid white;
    border-radius: 2px;

    font-size: 1em;
}

main section#str form div#email-newslat input::placeholder,
main section#str form div#tel-newslat input::placeholder{
    color: var(--cor1);
}

main section#str form div#submit-cadastro input{
    width: 100%;

    margin-top: 20px;
    padding: 10px 0;

    background-color: var(--cor6);
    color: var(--cor1);

    border: 1px solid var(--cor6);
    border-radius: 5px;

    font-size: 1.4em;
    font-family: "Lemon Milk Regular";
    font-weight: bold;

    transition: .5s;

    cursor: pointer;
}

main section#str form div#submit-cadastro input:hover{
    transform: translate(-2px, -2px);
    box-shadow: 0px 0px 10px 0px var(--cor3);

    background-color: var(--cor6);
    color: var(--cor3);

}




main section#bpo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 80px;
    margin: auto;
    background-color: var(--cor6);
    color: var(--cor1);
}

main section#bpo h1,
main section#bpo h2{
    text-align: center;
    padding: 30px;
}

main section#bpo ul{
    list-style-position: inside;
}




/***************************************************************/
                /*COMEÇO DO FOOTER*/
/***************************************************************/

footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    min-height: 50vh;
    color: var(--cor6);

    padding-top: 50px;
}

footer div#footer-top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}

footer div#redes-sociais{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer div#redes-sociais ul{
    list-style: none;
}

footer div#redes-sociais ul li{
    padding: 15px 0;
}

footer div#redes-sociais ul li a{
    display: flex;
    flex-direction: row;
    padding: 5px 0;
    text-decoration: none;
    color: var(--cor6);
}

footer div#redes-sociais ul li a:hover{
    text-decoration: underline;
}

footer div#redes-sociais img{
    width: 20px;
}

footer div#creditos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    padding: 20px;
    background-color: var(--cor5);
}

footer div#creditos a{
    color: var(--cor6);
}